.content * {
    box-sizing: border-box;
}
.container{
   display: flex;
   justify-content: center;
}

svg{
   width: 15px;
   height: 15px;
   margin-right: 10px;
   fill: #40b9eb;
}

.content{
   width: 70%;

}
 
 h2{
    text-align: center;
 }




 .address{
   margin-top: 30px;
   font-size: 17px;
   display: flex;
   justify-content: space-between;
   padding: 15px 0;
   border-top: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
 }

 .address >div{
   display: flex;
   align-items: center;
   height: 30px;
 }

 .contact{
   display: flex;
   font-size: 18px;
   padding: 15px 0;
 }

 .phone{
   margin-right: 30px;
 }

 .slideImg{
   width: 100%;
   position: relative;
   overflow: hidden;
 }

 .wrap-slide{
   width: 100%;
   display: flex;
   transition: transform .3s ease;
 }

 .wrap-slide img{
   width: 100%;
   height: auto;
   object-fit: cover;
   flex: 0 0 100%;

 }



 .contentPost{
   margin-top: 20px;
 }


 .left-controller,
 .right-controller{
   width: 40px;
   height: 40px;
   background-color: rgba(0 , 0, 0, 0.5);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
 }

 .left-controller:hover,
 .right-controller:hover{
   background-color: black;
 }

 .left-controller{
   left: 10px;
 }

 .right-controller{
   right: 10px;
 }

 .btAcceptOrNot{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
 }

 .btDelete{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
 }

 button{
  padding: 10px 15px;
  margin: 20px;
 }


  // modal cảnh báo
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px;
    position: relative;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.agreeDelete{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    background-color: #dc3545;
    border-radius: 5px;
}

.agreeDelete:hover{
    background-color: #f01329;
}
