<body>
    <header>
        <div class="content_head">
            <div routerLink="/home/user" class="logo">
                <div class="avatar-logo"><img src="https://static.tacdn.com/img2/brand_refresh/special/pride_month_Tripadvisor_lockup_horizontal_secondary.svg" alt=""></div>
               
            </div>
            <ul class="list_content_head">
           

                <li class="menu-header">
                        <ul>
                            <li style="cursor: default;" class="dropdown">
                                <div class="ketnoi"></div>
                                <div class="item_head_content" href="#">Địa điểm nên đến</div>
                                <div class="dropdown-content place">
                                    <div class="container_place_to_go">
                                      <div class="wrapper_region">
                                        <div class="region-post">
                                            <ul class="list_place">
                                                <li *ngFor="let placePost of placePosts"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg><a  [routerLink]="['/content/post',placePost.title]"  >{{placePost.title}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                     
                                    </div>
                                </div>
                            </li>
                            <li style="cursor: default;" class="dropdown">
                                <div class="ketnoi"></div>
                                <a class="item_head_content">Hoạt động nên làm</a>
                                <div class="dropdown-content">
                                    <div class="container_thing_to_do">
                                        <div class="highlights">
                                            <div class="title_item">SỰ KIỆN & LỄ HỘI</div>
                                            <ul >
                                                <li *ngFor="let eventPost of eventPosts"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg><a [routerLink]="['/content/post', eventPost.title]" >{{eventPost.title}}</a></li>
                                            </ul>
                                        </div>
                                        <div class="holidays">
                                            <div class="title_item">ĂN UỐNG</div>
                                            <ul>
                                                <li routerLink="/content/post/Những đặc sản không thể bỏ qua"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>Những đặc sản không thể bỏ qua</li>
                                                <li routerLink="/listPost/ẩm thực"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>Những món ăn nổi bật</li>
                                                <li routerLink="/service/nhà hàng"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>Nhà hàng</li>
                                            </ul>
                                        </div>
                              
                                    </div>
                                </div>
                            </li>
                            <li style="cursor: default;" class="dropdown">
                                <div class="ketnoi"></div>
                                <a class="item_head_content">Lên kế hoạch</a>
                                <div class="dropdown-content plan">
                                    <div class="container_plan_your_trip">
                                        
                                        <div class="accommodation">
                                            <div class="title_item">
                                                NƠI Ở
                                            </div>
                                            <ul>
                                                <li routerLink="/service/resort"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>Resort</li>
                                                <li routerLink="/service/hotel"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>Holtel</li>
                                                <li routerLink="/service/homestay"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>Homstay</li>
                                            </ul>
                                        </div> 
                                        
                                        <div class="suggest_tip">
                                            <div class="title_item">
                                               VỀ TÂY THIÊN
                                            </div>
                                            <ul>
                                                <li routerLink="/content/post/Lich sử Tây Thiên"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>Lịch sử</li>
                                                <li routerLink="/content/post/Vị trí Tây Thiên"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>Vị trí địa lý</li>
                                                <li routerLink="/content/post/Khí hậu Tây Thiên"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>Khí hậu</li>
                                            </ul>
                                        </div>

                                    </div>
                                   
                                </div>
                            </li>
                            <li class="dropdown"><a class="mostView" routerLink="/post/all">Xem nhiều nhất</a></li>
                            <li class="dropdown"><a class="mostView" routerLink="/image/libarly">Thư viện ảnh</a></li>
                        </ul>
                </li>
                
            </ul>
            <div class="right">
               <div style="cursor: pointer;" (click)="removeToken()" class="btSignin" routerLink="">{{textLogin}}</div>
            </div>
          
        </div>

       <div class="contentSearch">
            <div class="search-box">
                <input type="text" placeholder="Places to go, things to do, hotels..." [(ngModel)]="searchKeyWord">
                <button (click)="sendUserKeyword()">Search</button>
            </div>
       </div>
    </header>

  
</body>


