.wrapper{
    min-height: 100vh;
    height: max-content;
    background-color: #eceff1;
    padding-top: 60px;
    padding-left: 300px;
    display: flex;
    justify-content: center;
    transition: padding-left 1s ease;
 }

 .content {
    width: 80%;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Title post styling */
.title_post {
    margin-bottom: 20px;
}

.title_post label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 1.1em;
}

.title_post input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Category post styling */
.category_post {
    margin-bottom: 20px;
}

.category_post label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 1.1em;
}

.category_post select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Content post styling */
.content_post {
    margin-bottom: 20px;
}

.content_post ckeditor {
    width: 100%;
}

.cke {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cke_inner {
    padding: 10px;
}

.dark {
    background-color: #202124;
  
}

.wrapper.close-navbar {
    padding-left: 0;
    width: 100vw;
    font-size: 1rem;
    font-weight: 400;
}

.btadd{
    width: 100%;
    display: flex;
    justify-content: center;
}

.loading-bar {
    width: 100%;
    height: 5px;
    background-color: #e0e0e0;
    position: absolute;
    left: 0;
    overflow: hidden;
    display: none;
}

.loading-bar.loadActive{
    display: block;
}

.loading-dot {
    width: 10px;
    height: 5px;
    background-color: #3498db;
    box-shadow: 0 0 20px rgba(52, 152, 219, 0.8), 
    0 0 20px rgba(52, 152, 219, 0.6), 
    0 0 30px rgba(52, 152, 219, 0.4);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    animation: moveDot 1.5s linear infinite;
}

@keyframes moveDot {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
