<app-header (sendData)="handleData($event)"></app-header>

<div class="wrapper"  [class.close-navbar]="isclose">
    <div class="content">
        
            <div class="title_post">
                <label for="">nhập tiêu đề bài viết</label>
                <input type="text" name="title" [(ngModel)]="post.title">
                
                
            </div>
            <div class="avatar_post">
                <label for="">chọn ảnh bài viết</label>
                <input (change)="onFileSelected($event)" type="file" name="" id="">
            </div>
            <div class="category_post">
                <label for="">chọn loại bài viết</label>
                <select [(ngModel)]="post.category">
                    <option *ngFor="let category of categorys" [value]="category.category">{{category.category}}</option>
                </select>
            </div>
            <div class="content_post">
                
                <div class="main-container">
                    <div class="editor-container editor-container_document-editor" #editorContainerElement>
                        <div class="editor-container__toolbar" #editorToolbarElement></div>
                        <div class="editor-container__editor-wrapper">
                            <div class="editor-container__editor">
                                <div #editorElement>
                                    <ckeditor [(ngModel)]="post.content" [editor]="Editor" [config]="config" (ready)="onReady($event)" *ngIf="isLayoutReady" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
    
            <div class="btadd">
                <button type="button"  class="btn btn-success"  (click)="upLoadAndGetUrl(post._id)">Cập nhật bài viết</button>
            </div>
        </div>
 
</div>




