.wrapper{
    min-height: 100vh;
    height: max-content;
    background-color: #eceff1;
    padding-top: 60px;
    padding-left: 300px;
    display: flex;
    justify-content: center;
    transition: padding-left 1s ease;
 }

 .wrapper.close-navbar {
    padding-left: 0;
    width: 100vw;
}

 .content {
    width: 80%;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Title post styling */
.title_post {
    margin-bottom: 20px;
}

.title_post label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 1.1em;
}

.title_post input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Category post styling */
.category_post {
    margin-bottom: 20px;
}

.category_post label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 1.1em;
}

.category_post select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Content post styling */
.content_post {
    margin-bottom: 20px;
}

.content_post ckeditor {
    width: 100%;
}

.cke {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cke_inner {
    padding: 10px;
}

.btadd{
    width: 100%;
    display: flex;
    justify-content: center;
}