<app-header (sendData)="handleData($event)"></app-header>

<div class="wrapper"  [class.close-navbar]="isclose">
    <div class="content">
        <div class="search-container">
            <label for="search">Search:</label>
            <input type="text" id="search" class="search-input" placeholder="Enter search term..." (input)="filterTable()">
        </div>
        <table id="dataTable">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Tiêu đề</th>
                  <th>Thể loại</th>
                  <th>Tổng điểm</th>
                  <th>Số lượt đánh giá</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Statistic of Statistics">
                <td>{{ Statistic.id_post }}</td>
                <td>{{ Statistic.title }}</td>
                <td>{{ Statistic.category }}</td>
                <td>{{ Statistic.totalPoinrating }}</td>
                <td>{{ Statistic.count }}</td>
            </tr>
          </tbody>
        </table>
        
        <div class="pagination-controls">
          <pagination-controls class="pagination-spreads" previousLabel="Prev" nextLabel="Next" (pageChange)="page = $event"></pagination-controls>
        </div>
        
      </div>
</div>

