
.wrapper{
    min-height: 100vh;
    background-color: #eceff1;
    padding-top: 60px;
    padding-left: 300px;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
 }
 
 
 .content{
     padding: 20px;
     background-color: #ffff;
     width: 90%;
     margin-top: 30px;
     height: fit-content;
     border-radius: 4px 4px 4px 4px;
     margin-bottom: 30px;
 }
 
 
 
 .table-container {
     width: 80%;
     margin: auto;
     border-radius: 8px;
     overflow: hidden;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 table {
     width: 100%;
     border-collapse: collapse;
     overflow: hidden;
 }
 
 table, th, td {
     border: 1px solid #ddd;
 }
 
 th, td {
     padding: 8px;
     text-align: left;
 }
 
 th {
     background-color: #f2f2f2;
 }
 
 tr:nth-child(even) {
     background-color: #f9f9f9;
 }
 
 tr:hover {
     background-color: #f1f1f1;
 }
 
 .pagination-controls {
    display: flex;
  justify-content: flex-end;
  margin-top: 20px;
 }


 .pagination-spreads::ng-deep li {
    border: 1px solid #dee2e6;
 }

 .pagination-spreads::ng-deep li a{
    color: #007bff;
 }

 .pagination-spreads::ng-deep li:hover,
 .pagination-spreads::ng-deep li a:hover{

  background-color: #e9ecef;
 }

 
 
//  .pagination-spreads::ng-deep ul > li.current  {
     
//  }
 
 .search-container {
     display: flex;
     align-items: center;
     margin-bottom: 20px;
 }
 
 .search-container label {
     margin-right: 5px;
 }
 
 .search-input {
     padding: 5px;
     border: 1px solid #ccc;
     border-radius: 4px;
     transition: border-color 0.3s;
 }
 
 .search-input:focus {
     outline: 2px solid #bfdeff;
 }
 
 
 